html {
  transition: smooth;
}

/* Index Page */
/* Navigation bar section */

.navbar-background {
  background-color: black;
  height: auto;
}

.navbar-brand {
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 35px;
  padding-bottom: 10px;
  position:relative;
}

.navbar-brand:hover {
  color: white;
}

.nav-item {
  display:inline-block;
  font-size: 1rem;
  margin: auto;
}

.navbar-menu {
  margin-top: 5px;
}

.nav-link {
  color: white;
  padding: auto;
  margin-left: 50px;
}

.nav-link:hover {
  color: gray;
}

.navbar-assist {
  color: white;
  margin: 15px 80px;
  padding-left: 4rem;
}

.navbar-assist:hover {
  color: gray;
}

.nav-search {
  color: white;
  display:inline-block;
  margin-bottom: 5px;
  padding-right: 20px;
  position: relative;

}

.nav-search:hover {
  color: grey;
}

.title-image {
  padding-bottom: 5px;
}

/* Highlights Section */

.highlights-background {
  background-color: #28527a;
  height: auto;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.highlights-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: auto auto 0 auto;
  padding-left: 15px;
}

.carousel-price {
  background-color: black;
  border-radius: 25px;
  margin: 20px auto;
  width: 250px;
}

.carousel-button {
  margin: 15px 10px;
}

.carousel-image {
  padding-bottom: 50px;
  width: 100%;
}

/*
.highlights-bottom-background {
  background-color: #28527a;
  height: 70px;
}
*/

/* Featured Section */

.featured-background {
  /*background-color: #8ac4d0;*/
  background-color: #9fd8df;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.featured-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: auto auto 0 auto;
}

.card {
  border-radius: 15px;
  margin: 15px auto;
}

.card-price {
  margin-right: 0.2rem;
}

.card-picture {
  border-radius: 15px;
  margin-top: 10px;
  width: 100%;
}

.card-title {
  color: black;
  text-decoration: inherit;
}

.card-button {
  margin-left: 5px;
}

/* Footer Section */

.footer-text {
  padding-left: 90px;
}

.footer-background {
  background-color: black;
  height: auto;
}

.copyright-text {
  color: gray;
  font-size: 0.8rem;
}

.social-icon {
  color: white;
  height: 30px;
  margin: 20px 10px;
  width: 30px;
}

.social-icon:hover {
  color: gray;
}

/* Support Page */
/* Issues Section */

.issues-width {
  margin: auto;
  width:80%;
}

.issues-section-padding {
  padding-bottom: 30px;
}

.issues-topic {
  padding-bottom: 20px;
}

.issues-title {
  padding-top: 20px;
}

.issues-background {
  background-color: #28527a;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 30px 0;
  text-align: center;
}

.assistance-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.support-games {
  height: auto;
  width: 800px;
}

.welcome-msg {
  font-family: 'Allerta Stencil', sans-serif;
  padding-top: 2rem;
  text-decoration:underline;
}

.welcome-background {
  background-color: black;
  border-radius: 15px;
  height: 130px;
  margin: 50px auto 50px;
  width: auto;
}

.notice-text {
  font-size: 0.9rem;
}

.notice-text-color {
  color: #D9BB5F;
  font-size: 1rem;
}

.help-icon {
  color: #D9BB5F;
  margin: 10px auto;
}

.help-icon:hover {
  color: white;
}

.help-text {
  color: white;
}

/* Assistance Section */

.assistance-background {
  /*background-color: #8ac4d0;*/
  background-color: #9fd8df;
  color: black;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  text-align: left;
}

.tablet-icon {
  color: #28527a;
}

.gameissues-hr {
  color: gray;
}

.general-advice {
  text-decoration:underline;
  padding-top: 20px;
  padding-bottom: 20px;
}

.issues-section-end {
  margin-bottom: 0rem;
}

.help-forum-box {
  margin-left: 10%;
  width: 80%;
}

.help-message-background {
  background-color: #28527a;
  height: auto;
  color: white;
}

.help-text {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  width: 80%;
}

.help-top-text {
  padding-top: 1rem;
}

.help-bottom-text {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.request {
  margin-top: 10px;
}

.help-icon-row {
  margin-left: 0;
  margin-right: 0;
}

/* Product Page */
/* Product Header Section */

.product-background {
  background-color: #28527a;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 30px 0;
  text-align: center;
}

.product-info-background {
  /*background-color: #8ac4d0;*/
  background-color: #9fd8df;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

.product-carousel {
  margin: auto;
  max-width: 77%;
}

.game-picture-description {
  display: inline;
  margin-left: 3%;
  margin-top: 3%;
  max-height: 40%;
  max-width: 45%;
  padding: 2%;
}

.product-description {
  height: auto;
  margin: auto;
  margin-top: 50px;
  width: 77%;
}

.product-name {
  padding-top: 20px;
  margin: auto;
  width: 75%;
}

.product-info-top {
  margin-left: 11%;
  width: 30%;
}

.product-info-bottom {
  margin-left: 11%;
  width: 30%;
}

.product-description-table {
  margin: 50px auto 50px;
  width: 80%;
}

/* Recommended Page */
/* Recommended Header Section */

.ghost-ad {
  width: 100%;
}

.recommended-background {
  background-color: #28527a;
  height: auto;
  padding: 30px 0;
}

.recommended-games-background {
  /*background-color:  #8ac4d0;*/
  background-color: #9fd8df;
}

.recommended-button {
  color: black;
  margin-left: 0;
}

.recommended-line {
  margin: 0;
}

.recommended-section {
  padding-top: 10px;
  margin: auto;
  width: 80%;
}

.recommended-list {
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.metal-gear-pic {
  position: relative;
  margin: auto;
  margin-top: 50px;
  max-width: 70%;
}

/* Community Recommendation Section */

.Community-Recommendation-background {
  background-color: #28527a;
  color: white;
}

.Community-Recommendation-text {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  width: 75%;
}

.community-pic {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.community-link-row {
  margin-left: 0;
  margin-right: 0;
}

/* Community Page */
/* Community Header Section */

.community-background {
  background-color: #28527a;
  height: auto;
  padding: 30px 0;
}

.community-banner {
  width: 100%;
}

.community-discussion-background {
  /*background-color:  #8ac4d0;*/
  background-color: #9fd8df;
  color: black;
  height: auto;
}

.community-line {
  margin-bottom: 0;
}

.community-text {
  margin: auto;
  padding-top: 20px;
  width: 70%;
}

.discussion-list {
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.discussion-link {
  color: black;
}

.discussion-link:hover {
  color: gray;
}

.community-page-banner {
  margin-top: 10px;
  padding-left: 50px;
}

.news-trailers {
  margin: auto;
  margin-bottom: 0;
  width: 70%;
}

.trailer-card {
  margin-bottom: 0;
}

.trailer-table {
  margin-bottom: 0;
}

.trailer-title-text {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 67%;
}

.trailers-title {
  margin: auto;
  width: 67%;
}

.signup-background {
  background-color: #28527a;
  height: auto;
  padding: 30px 0;
}

.signup-forum {
  color: white;
  margin: auto;
  width: 67%;
}

.white-line {
  color: white;
}

.signup-title {
  color: white;
  margin: auto;
  width: 67%;
}

.sales-pitch {
  color: white;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}

@media (max-width: 1200px) {

  .card-text {
    display: none;
  }

  .navbar-assist {
    display: none;
  }

  .navbar-menu {
    display: none;
  }

  .social-icon {
    display: none;
  }

  .community-page-banner {
    display: none;
  }

}

@media (max-width: 1000px) {

.title-image {
  height: 80px;
  width: 75px;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 4.5rem;*/
}

.dropdown-menu {
  font-size: 2rem;
}

.metal-gear-pic {
  display: none;
}

.trailer {
  height: 25rem;
}

.recommended-list {
  font-size: 1.3rem;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.general-advice {
  font-size: 2rem;
}

.assistance-text {
  font-size: 2rem;
}

.assistance-text-bottom {
  font-size: 1.5rem;
}

.notice-text, .notice-text-color {
  font-size: 1.2rem;
}

.product-description {
  font-size: 1.5rem;
}

.product-title {
  font-size: 2rem;
}

.product-description-table {
  font-size: 1.2rem
}

.discussion-news {
  font-size: 1.5rem;
}

}

